{{ partial "head" . }}
<div class="container ombre">
  <nav>
    <a href="../home" class="btn btn-default"><i class="fa fa-lg fa-arrow-left" aria-hidden="true"></i> {{ i18n "backhome" }}</a>
    <div class="btn-group pull-right">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Changer la langue">
        <i class="fa fa-lg fa-language" aria-hidden="true"></i> {{ i18n "langue" }} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        {{ if eq .Site.Params.switchlang true }}
        {{ $currentNode := . }}
        {{ range .Site.Menus.switchlang }}
        <li class="{{if $currentNode.IsMenuCurrent "main" . }}active{{end}}">
          <a href="javascript:changeLanguage('{{ .URL | markdownify }}');" {{ if and ( isset . "Name" ) ( ne .Name "" ) }} title="{{ .Name }}"{{ end }}>
            {{ .Pre }}
            {{ .Name }}
          </a>
        </li>
        {{ end }}
        {{ end }}
      </ul>
    </div>
  </nav>
  <div class="row">
    <div class="col-sm-{{ if .Site.Params.showRightSidebar }}9{{ else }}12{{ end }}">
      {{ .Render "single.hat" }}
      {{ .Render "single.content" }}
      {{ .Render "single.boot" }}
    </div>
    {{ if .Site.Params.showRightSidebar }}
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        {{ partial "bloc/content/sidebar" .}}
      </div>
    {{ end }}
  </div>
  <p class="signature text-right small">
    {{ i18n "campaign-start" }}<br>
    {{ i18n "campaign-edit" }}<br>
    {{ i18n "credit" }} <a href="http://www.davidrevoy.com">David Revoy</a> - {{ i18n "license" }} <a lang="en" href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0</a>
  </p>
</div>
{{ partial "foot" . }}
