<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1">

{{ if .Description }}
<meta name="description" content="{{ .Description }}" />
{{ else }}
<meta name="description" content="{{ .Site.Params.description }}" />
{{ end }}
<meta name="keywords" content="{{ if .Keywords }}{{ range .Keywords }}{{ . }}, {{ end }}{{else if isset .Params "tags" }}{{ range .Params.tags }}{{ . }}, {{ end }}{{end}}">
{{ with .Site.Params.googleplus }}
<link rel="author" href="http://plus.google.com/+{{ . }}">
{{ end }}

<meta property="og:title" content="{{ .Title }} {{ if ne .Title .Site.Title }} &middot; {{ .Site.Title }} {{ end }}">
<meta property="og:site_name" content="{{ .Site.Title }}"/>
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:locale" content="{{ .Site.LanguageCode }}">

{{ if not .IsPage }}
<meta property="og:type" content="website" />
{{ else }}
<meta property="og:type" content="article" />
<meta property="og:description" content="{{ .Description }}"/>
<meta property="og:article:published_time" content="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}" />
<meta property="og:article:modified_time" content="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}" />

  {{ if .Keywords }}
    {{ range .Keywords }}
<meta property="og:article:tag" content="{{ . }}">
    {{ end }}
  {{ else if isset .Params "tags" }}
    {{ range .Params.tags }}
<meta property="og:article:tag" content="{{ . }}">
    {{ end }}
  {{ end }}

  {{ if ne .Site.Params.twitter "" }}
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@{{ .Site.Params.twitter }}" />
<meta name="twitter:creator" content="@{{ .Site.Params.twitter }}" />
<meta name="twitter:title" content="{{ .Title }}" />
<meta name="twitter:description" content="{{ .Description }}" />
<meta name="twitter:url" content="{{ .Permalink }}" />
<meta name="twitter:domain" content="{{ .Site.BaseURL }}">
  {{ end }}

  {{ if ne .Site.Params.googleplus "" }}
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Article",
    "headline": "{{ .Title }}",
    "author": {
      "@type": "Person",
      "name": "http://profiles.google.com/+{{ .Site.Params.googleplus }}?rel=author"
    },
    "datePublished": "{{ .Date.Format "2006-01-02" }}",
    "description": "{{ .Description }}",
    "wordCount": {{ .WordCount }}
  }
</script>
  {{ end }}
{{ end }}

{{ if .RSSLink }}
<link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Title }}" />
{{ end }}
<link rel="canonical" href="{{ .Permalink }}" />
{{ .Hugo.Generator }}

<link rel="prefetch" href="/0_Main-menu_by-David-Revoy.jpg">
<link rel="prefetch" href="/1_Services_by-David-Revoy.jpg">
<link rel="prefetch" href="/2_Essaimage_by-David-Revoy.jpg">
<link rel="prefetch" href="/3_Educ-Pop_by-David-Revoy.jpg">
